.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.y.axis line, .x.axis line {
  stroke: #777;
  stroke-dasharray: 2,2;
}
